# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# macOS
.DS_Store

# Ansible local SSH key for Docker containers
ansible/ansible_container_key
ansible/ansible_container_key.pub